@{
    ViewData["Title"] = "서비스 상태 - CloudInteractive Inc.";
}
@model DashboardModel

<div class="section title">
    <h4>서비스 상태</h4>
</div>

<!-- Notify area -->
<div class="notify-area section">
    @foreach (var item in Model.NotifyList)
    {
        @if (item.Type == NotifyItem.NotifyType.Warn)
        {
            <div class="alert card amber accent-4 black-text">
                <div class="alert-accent orange darken-3"></div>
                <div class="card-content">
                    <p><i class="material-icons">report_problem</i><span>@item.Content</span></p>
                </div>
            </div>
        }
        else if (item.Type == NotifyItem.NotifyType.Error)
        {
            <div class="alert card amber accent-4 black-text">
                <div class="alert-accent deep-orange accent-4 accent-4"></div>
                <div class="card-content">
                    <p><i class="material-icons">report</i><span>@item.Content</span></p>
                </div>
            </div>
        }
        else
        {
            <div class="alert card light-blue accent-3 black-text">
                <div class="alert-accent light-blue darken-4"></div>
                <div class="card-content">
                    <p><i class="material-icons">campaign</i><span>@item.Content</span></p>
                </div>
            </div>
        }
    }
</div>

<div class="row">
    <!-- Core service area -->
    <div class="col s12 m12 l3 left-col">
        <div class="grey darken-4 content-tile">
            <p>Connection</p>
            <div class="valign-wrapper" style="flex-grow: 1">
                <div>
                    <div>
                        <a id="statebtn" class="green statebtn btn-floating pulse"></a>
                        <span class="ping" id="latency">-- ms</span>
                    </div>
                    <span>@Model.ConnectionState.IP</span>
                    <span><strong>@Model.ConnectionState.Agent.Platform</strong> (@Model.ConnectionState.Agent.Browser @Model.ConnectionState.Agent.BrowserVersion)</span>
                </div>
            </div>
        </div>

    </div>
    <div class="col s12 m12 l9 right-col">
        <div class="grey darken-4 content-tile">
            <p class="list-header">Core Services</p>
            <div data-simplebar class="list-wrapper height-fixed">
                @foreach (var item in Model.CoreServiceList)
                {
                    <div class="item-content">
                        @if (item.IsOnline)
                        {
                            <i class="material-icons green-text">check_circle</i>
                        }
                        else
                        {
                            <i class="material-icons orange-text">warning</i>
                        }
                        <span>@item.Name</span>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- Region service area -->
    <div class="col s12 m12 l12 center-col">
        <div class="grey darken-4 content-tile">
        </div>
    </div>
</div>

<!-- Reference time -->
<div class="row">
    <p class="right-align grey-text">Last updated: 2023.7.25 (20:27:16)  <a href="">새로고침</a></p>
</div>

<!-- page-specific js-->
<script src="js/dashboard.js"></script>